body, html {
  height: 100%;
  margin: 0;
  color: #333333;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  /* font-family: "Anton", sans-serif;
  font-weight: 400; */
  font-style: normal;
  letter-spacing: 1.5px;

}


/*  Typography */

a {
 text-decoration: none;
 color: #333333;
}

h1, h2, {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0px;
}

h3 {
  font-size: 1.5rem;

}

p {
  font-family: "Arial", sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
  line-height: 1.5;

}

/*  Buttons */
button {
  background-color: #234b99;
  border: none;
  color: white;
  font-family: "Anton", sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Navbar */

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 1rem;
}

.navbar a {
  color: #333333;
  float: left;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}

.nav-right  {
  align-content: center;
  float: right;
}

/*  Hero container */

.hero-container {
  align-items: left;
  background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}

.hero-card {
   background-color: #ffffff;
   margin: 130px 80px 50px;
   width: 35%;
   padding: 2rem;
   position: relative;
}


.hero-text {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

/* Card Section */

.card-section {
  background-color: #234b99;
  height: 100%;
  margin-top: 0;
}

.card-section-header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85%;
  padding-top: 2rem;
}

.card-section-header-text1 {
  width: 70%;
}

.card-section-header-readmore {
   color: #ffffff;
}

.card-container {
   column-gap: 1em;
   display: flex;
   margin: 1rem 2rem 1rem 2rem;
}

.card {
  background-color: #ffffff;
  width: 40%;
  height: 60vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.card-content {
 padding-left: 1rem;
}

.read-story-card {
   color:  #234b99;
   text-transform: uppercase;
}

/* Web Dev Section */


.webdev-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.webdev-section-image {
    width: 100%;
    margin-left: 4rem;
}

.webdev-description {
    margin-left: 4rem;
    width: 100%;
}

.btn {
  border: 2px solid #234b99;
  background-color: white;
  color: #234b99;
  padding: 14px 28px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Accordion Section */

.accordion-container {
    background-color: #234b99;
    display: flex;
    color: #ffffff;
    padding: 4rem;
    max-width: 80%;
    margin: auto;

}

.accordion {
  background-color: #3f63a8;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}


footer {
  background-color: #e8e8e8;
  color: #333333;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0px 130px;
}

.footer-section {
  display: flex;
}


.footer-links {
  width: 40%;
  height: 40vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  }

ul {
  font-family: "Arial", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.footer-social-media li {
    display: inline;
    margin-left: 1rem;

}

.footer-section-copyright-text {
     margin-left: 20rem;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .navbar  {display: none;}

  .card-container {
    flex-direction: column;
  }
  footer, .footer-section, .footer-links  {
    flex-direction: column;
  }


  .footer-social-media li  {
  display:  inline-block;
  }

  body {
   display: flex;
   flex-direction: column;
   }

   .footer-section-copyright-text {
     margin-left: 0;
}
}